@import "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css";
@import "https://fonts.googleapis.com/css2?family=Lobster&display=swap";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

/** APP CSS */

.app-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.header {
  text-align: center;
  padding-top: 5rem;
  font-size: 45px;
  font-family: "Lobster", cursive;
  font-weight: 700;
  color: black;
}

/** NAVBAR CSS */

.navBar {
  width: 100%;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar a {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity ease-in 0.2s;
}

.navBar a:hover {
  opacity: 0.7;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding-left: 1.5rem;
}

.links {
  color: white;
  display: flex;
  list-style: none;
  padding-right: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.links * {
  margin: 0;
}

.links a {
  font-family: "Lobster";
  font-size: 2rem;
  text-decoration: none;
  padding-left: 3rem;
  cursor: pointer;
}

/** FORMS CSS */

.auth-form {
  margin-top: 5rem;
  margin-bottom: 4rem;
  border-radius: 5px;
  border: solid 2px black;
  min-width: 300px;
  min-height: 470px;
}

.form-data-container {
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  height: 100%;
}

.button-container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}

.form-links {
  display: flex;
  justify-content: space-evenly;
}

.form-links a {
  color: black;
  padding-bottom: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: large;
  flex: 1;
  text-align: center;
  cursor: pointer;
  transition: all ease-out 0.25s;
}

.active-link {
  border-bottom: solid 2px rgba(0, 0, 0, 1);
}

.inactive-link {
  opacity: 45%;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
}

.forgot-password {
  display: flex;
  height: 10%;
  align-items: flex-end;
  border-top: solid 2px black;
}

.forgot-password a {
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: center;
}
