* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.AppPage {
  height: calc(100% - 5.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppFooter {
  height: 2.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;
  color: white;
}

.AppNavWrapper {
  width: 100%;
  background: #131313;
  color: white;
  height: 3rem;
}

.AppNavbar {
  margin: 0 1rem;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  text-transform: uppercase;
  font-family: sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
}

nav h1 {
  flex: 4;
}
nav ul {
  font-family: sans-serif;
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
