* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
}

.App {
  height: 100%;
  align-items: center;
}

.AppFooter {
  height: 2.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #131313;
  color: white;
}
